/*  your css code here. If applicable */
.container{height:600px;
		   width:600px;
	display:flex;
		   display:grid;
	}
.nav{border:1px solid blue;
	background-color:#D7E8D4;
	height:100px;
			   width:120px;
			   padding:1em;
			  
}

.header{border:1px solid blue;
	background-color:yellowgreen;
	height:120px
		width:480px;
		   padding:1em;
}
.article{border:1px solid blue;
	height:360px;
	width:360px;
			padding:1em;
}
.aside{border:1px solid blue;
	background-color:#f5f5dc;
	height:360px;
	width:120px;
		  padding:1em;
}
.footer{
	border:1px solid blue;
	background-color:yellowgreen;
	height:120px;
	padding:1em;
}
